{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}

        {{ form_widget(form) }}

        <button class="btn btn-success pull-right">Envoyer</button>

    {{ form_end(form) }}

    <hr>


        <table class="table table-striped table-sm">
            <thead>
                <th>#</th>
                <th>Nom</th>
            </thead>

            <tbody>

                {% for type in types %}

                    <tr>
                        <td>{{ type.id }}</td>
                        <td>
                            <a id="link-type-{{ type.id }}" href="#" data-type-id="{{ type.id }}">{{ type.name }}</a> (cliquer pour éditer)


                            <div id="type-{{ type.id }}-edit" style="display:none;" class="btn-group">

                                <form method="post" action="{{ path('type_edit', {id : type.id }) }}">
                                    <input type="text" name="name" value="{{ type.name }}">
                                    <input type="hidden" name="_token" value="{{ csrf_token('editType' ~ type.id) }}">
                                    <input type="hidden" name="_method" value="PATCH">
                                    <button class="btn btn-sm btn-warning">Éditer</button>
                                </form>

                                <form method="post" action="{{ path('type_delete', { id: type.id }) }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('deleteType' ~ type.id) }}">
                                    <button class="btn btn-sm btn-danger" style="margin-top:1px; margin-left:5px;">Supprimer</button>
                                </form>
                            </div>
                        </td>
                    </tr>

                {% endfor %}

            </tbody>
        </table>


{% endblock %}

{% block javascripts %}

    <script>

        $(function() {

            $('[id^=link-type-]').on('click', function() {

                let typeId = $(this).data('typeId');

                $('[id ^=type-][id $=-edit]').hide();
                $('#type-'+typeId+'-edit').toggle();

                $(this).on('click', function() {
                    $('#type-'+typeId+'-edit').toggle();
                })
            })
        })

    </script>
{% endblock %}