{% extends 'base.html.twig' %}

{% block title %}Liste des destinations{% endblock %}

{% block body %}

    <div class="row">
        {% for destination in destinations %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="card mt-3">
                        <div class="card-header"># {{ destination.id }} : {{ destination.name }} ({{ destination.country }}) -  <span class="badge badge-primary">{{ destination.type.name }}</span></div>
                        <img src="{{ asset('uploads/destinations/' ~ destination.photo) }}" height="100" class="card-img-top" alt="...">

                        <div class="card-body">
                            {{ destination.description }}
                        </div>

                        <div class="card-footer">
                            <a class="btn btn-sm btn-warning" href="{{ path('destination_edit', {id: destination.id}) }}">Éditer</a>
                            <button class="btn btn-sm btn-danger">Supprimer</button>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>

{% endblock %}
