{% extends 'base.html.twig' %}

{% block body %}


    <h1>{{ destination.name }}</h1>
    <h2>{{ destination.country }}</h2>

    <hr>

    {% if destination.reviews.count > 0 %}

    <ul>
        {% for review in destination.reviews %}
            <li>
                Visité par {{ review.user.username }}<br>

                {% if review.content %}
                    Commentaire laissé : {{ review.content }}
                {% else %}
                    <em>Aucun commentaire laissé pour le moment.</em>
                {% endif %}


            </li>
        {% endfor %}
    </ul>
    {% else %}

        <em>Aucune review déposée pour le moment.</em>

    {% endif %}


    <hr>

    <button id="addReviewButton" class="btn btn-success">Ajouter une review</button>

    {{ form_start(reviewForm, {'attr': {'id': 'addReviewForm', 'style': 'display:none'}} ) }}
    {{ form_widget(reviewForm) }}


    {% if review.user %}
        <button class="btn btn-warning pull-right">Éditer le commentaire</button>
    {% else %}
        <button class="btn btn-success pull-right">Publier le commentaire</button>
    {% endif %}

    {{ form_end(reviewForm) }}

{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            $('#addReviewButton').on('click', function() {
                $('#addReviewForm').slideToggle();
            });
        });
    </script>
{% endblock %}